@media all and (min-width:760px){
    #page_5{
        width: 1860px;
        height: 1080px;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        overflow: scroll;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    #page_5::-webkit-scrollbar{
        display: none;
    }
    #page_5>img{
        width: 100%;
        height: 100%;
    }
    #page_5>p{
        font-family: 'Sanseriffic';
        font-size: 18px;
        color: #393e46;
        position: absolute;
        bottom: 60px;
        left: 60px;
    }
    #p5_open{
        width: 460px;
        height: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-47%,-50%);
    }
    #p5_open>li{
        font-family: 'Sanseriffic';
        font-size: 90px;
        color: #eeeeee;
        text-align: center;
        line-height: 300px;
    }
    #p5_base{
        width: 100%;
        height: 2680px;
        background-color: #396e46;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }
    /*첫번째 p5 섹션*/
    .p5_sec{
        width: 100%;
        height: 1080px;
        float: left;
        position: relative;
    }
    
    .p5_sec:nth-child(1)>img{
        width: auto;
        height: auto;
        position: absolute;
        top: -50px;
        left: 0;
        opacity: 0;
        z-index: 2;
    }
    .p5_sec:nth-child(1)>p{
        font-family: 'Sanseriffic';
        font-size: 18px;
        color: #929aab;
        position: absolute;
        bottom: 60px;
        right: 60px;
        z-index: 2;
    }
    #title_text{
        width: 555px;
        height: 190px;
        position: absolute;
        top: 500px;
        left: 210px;
        z-index: 2;
    }
    #title_text>li{
        font-family: 'Sanseriffic';
        font-size: 60px;
        text-align: center;
        color: #8b8b8b;
        margin-bottom: -14px;
    }
    #title_text>li:nth-child(2){
        font-family: 'Impact';
        font-size: 122px;
        color: #393e46;
        margin-bottom: 0;
    }
    
    #p5_right_box_1{
        width: 930px;
        height: 1080px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
    #p5_right_box_1>img{
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        left: 180px;
    }
    
    
    #p5_right_text_1{
        width: 500px;
        height: 400px;
        position: absolute;
        top: 590px;
        left: 180px;
        overflow: hidden;
    }
    #p5_right_text_1>li{
        font-family: 'kenyan_coffee';
        font-size: 44px;
        color: #929aab;
        display: none;
    }
    #p5_right_text_1>div{
        width: 100%;
        height: 24px;
        margin-top: 34px;
        position: relative;
    }
    #p5_right_text_1>div:nth-child(1){
        margin-top: 38px;
    }
    #p5_right_text_1>div>ul{
        width: 220px;
        height: 100%;
        float: left;
        display: none;
    }
    #p5_right_text_1>div:nth-child(6){
        height: 56px
    }
    #p5_right_text_1>div>ul:nth-child(2){
        width: 280px;
        
    }
    
    #p5_right_text_1>div>ul>li{
        font-family: 'NanumGothic';
        font-size: 22px;
        margin-top: -2px;
        color: #f7f7f7;
    }
    
    #p5_right_text_1>div>div{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -500px;
        background-color: #eeeeee;
    }
    
    
    /*두번째 p5 섹션*/
    
    .p5_sec:nth-child(2){
        height: 840px;
        /*background-color: rgba(200,200,200,0.1);*/
        float: left;
        z-index: 2;
    }
    
    .p5_box_2{
        width: 930px;
        height: 840px;
        float: left;
        position: relative;
    }
    #p5_left_top{
        width: 486px;
        height: 160px;
        position: absolute;
        top: 166px;
        left: 240px;
        overflow: hidden;
    }
    #p5_left_top>ul>li{
        font-family: 'kenyan_coffee';
        font-size: 44px;
        color: #929aab;
        margin-top: -10px;
        opacity: 0;
    }
    #p5_left_top>div{
        width: 100%;
        height: 24px;
        float: left;
        margin-top: 32px;   
    }
    #p5_left_top>div:nth-child(2){
        margin-top: 34px;
    }
    #p5_left_top>div>ul{
        width: 184px;
        height: 100%;
        float: left;
        position: relative;
    }
    #p5_left_top>div>ul:nth-child(2){
        width: 302px;
    }
    #p5_left_top>div>ul>li{
        font-family: 'NanumGothic';
        font-size: 20px;
        color: #f7f7f7;
        display: none;
    }
    
    #p5_left_top>div>ul>div{
        width: 100%;
        height: 100%;
        background-color: #eeeeee;
        position: absolute;
        top: 0;
        left: -488px;
    }
    
    #p5_left_bot{
        width: 132px;
        height: 160px;
        position: absolute;
        top: 520px;
        left: 240px;
        overflow: hidden;
    }
    
    #p5_left_bot>ul>li{
        font-family: 'kenyan_coffee';
        font-size: 44px;
        color: #929aab;
        margin-top: -10px;
        opacity: 0;
    }
    
    #p5_left_bot>div>ul{
        width: 100%;
        height: 24px;
        float: left;
        margin-top: 32px;
        position: relative;
    }
    
    #p5_left_bot>div>ul>li{
        font-family: 'NanumGothic';
        font-size: 20px;
        color: #f7f7f7;
        display: none;
    }
    
    #p5_left_bot>div>ul>div{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -134px;
        background-color: #eeeeee;
    }
    
    #p5_right_img_box{
        width: 555px;
        height: 694px;
        position: absolute;
        top: 60px;
        left: 300px;
        opacity: 0;
    }
    
    #p5_right_box_2>p{
        font-family: 'Sanseriffic';
        font-size: 18px;
        position: absolute;
        top: 524px;
        right: -36px;
        transform: rotate(270deg);
        color: #929aab;
        display: none;
    }
    
    
    
    /*세번째 p5 섹션*/
    
    .p5_sec:nth-child(3){
        height: 760px;
    }
    
    #p5_bot_text_box{
        width: 520px;
        height: 300px;
        position: absolute;
        top: 146px;
        left: 1110px;
        z-index: 1;
        overflow: hidden;
    }
    #p5_bot_text_box>ul>li{
        font-family: 'kenyan_coffee';
        font-size: 44px;
        color: #929aab;
        margin-top: -8px;
        opacity: 0;
    }
    #p5_bot_text_box>div{
        width: 100%;
        height: 24px;
        float: left;
        position: relative;
        margin-top: 32px;
    }
    #p5_bot_text_box>div:nth-child(2){
        margin-top: 36px;
    }
    #p5_bot_text_box>div>ul:nth-child(1){
        width: 196px;
        height: 100%;
        float: left;
    }
    #p5_bot_text_box>div>ul:nth-child(2){
        width: 324px;
        height: 100%;
        float: left;
    }
    #p5_bot_text_box>div>ul>li{
        font-family: 'NanumGothic';
        font-size: 20px;
        color: #f7f7f7;
        display: none;
    }
    #p5_bot_text_box>div>div{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -522px;
        background-color: #eeeeee;
    }
    
    #p5_saying{
        width: auto;
        height: 84px;
        position: absolute;
        top: 566px;
        left: 160px;
        z-index: 1;
        opacity: 0;
    }
    #p5_saying>li{
        text-align: right;
        margin-top: -6px;
        margin-bottom: 24px;
        color: #f7f7f7;
    }
    #p5_saying>li:nth-child(1){
        font-family: 'kenyan_coffee';
        font-size: 34px;
    }
    #p5_saying>li:nth-child(2){
        font-family: 'NanumGothic';
        font-size: 20px;
    }
    
    #p5_base>img{
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
    } 
    
}